@import '../../../../../assets/styles/definitions.scss';

#content{
    top:0;
    background-color: $color-main-1;
    height: 3rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    .left-buttons{
        height: 100%;
        margin-left: 1rem;
        display: flex;
        gap: 1rem;
    }

    .right-buttons{
        height: 100%;
        margin-right: 1rem;
        display: flex;
        gap: 1rem;
    }

    a{
        padding: 0 0.3rem;
        align-items: center;
        height: 100%;
        color: $color-main-3;
        line-height: 3rem;
    }
}